.navbar {
    background-color: #3F0071;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    font-size: 30px;
    transition: all ease-in 1.2s;
}

.port-logo {
    background: transparent;
    vertical-align: middle;
    border-style: none;
    width: 57px;
    height: 53px;
    border-radius: 40px;
}

.navbar-brand:hover {
    color: yellow;
}

.form-control {
    padding-left: 2rem;
    padding-right: 8rem;
    margin-left: 16rem;
}

.navbar-nav {
    margin-left: 23rem;
}

.nav-link {
    color: white;
    font-size: 20px;
    transition: all ease-in 1.2s;
    margin-left: 20px;
}

.nav-link:hover {
    color: yellow;
}

.btn {
    color: white;
    border: 1px solid white;
    transition: all ease-in 1.2s;

}

.btn:hover {
    color: #3F0071;
    background-color: white;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    background-color: #3F0071;
}

@media screen and (max-width: 1080px){
    .navbar-brand {
        margin-left: 1rem;
    }

    .form-control {
        padding-left: 1rem;
        padding-right: 0;
        margin-left: 0;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .nav-link {
        margin-left: 0;
        text-align: center;
    }

    .nav-link:hover {
        background-color: white;
        color: #3F0071;
    }

}